.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  button{
    width: 100px;
    background: transparent;
    border: 1px solid black;
    border-radius: 16px;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    &:hover {
      background: rgba(0, 0, 0, 0.15);
    }
  }
  textarea {
    max-width: 400px;
  }
}
