.list-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-height: 200px;

  background: transparent;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
}
::ng-deep {
  .popover.popover-content {
    padding: 0;
    width: 500px !important;
  }
}
