:host {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #00000078;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  max-height: 200px;
  background: white;
}
